<div class="col-10 mx-auto">
    <div class="card">
        <span class="text-900 text-xl font-bold mb-4 block">Create Sport Field</span>
        <form [formGroup]="sportFieldForm" (ngSubmit)="createSportField()">
            <div class="grid">
                <div class="col-12 lg:col-0">

                </div>
                <div class="col-12 lg:col-12">
                    <div class="grid formgrid p-fluid">
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="areaSize" class="font-medium text-900">area size</label>
                            <input id="areaSize" type="text" pInputText formControlName="areaSize">
                            <small class="ng-dirty ng-invalid" *ngIf="sportFieldForm.get('areaSize')!.hasError('required') && (sportFieldForm.get('areaSize')!.dirty || sportFieldForm.get('areaSize')!.touched)">Erea Size  is required.</small>
                        </div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="description" class="font-medium text-900">Description</label>
                            <input id="description" type="text" pInputText formControlName="description">
                            <small class="ng-dirty ng-invalid" *ngIf="sportFieldForm.get('description')!.hasError('required') && (sportFieldForm.get('description')!.dirty || sportFieldForm.get('description')!.touched)">description is required.</small>
                        </div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="status" class="font-medium text-900">Status</label>
                            <select id="status" pInputText formControlName="status">
                                <option *ngFor="let status of statusOptions" [value]="status">
                                    {{ status }}
                                </option>
                            </select>
                            <small class="ng-dirty ng-invalid" *ngIf="sportFieldForm.get('status')!.hasError('required') && (sportFieldForm.get('status')!.dirty || sportFieldForm.get('status')!.touched)">
                                Status is required.
                            </small>
                        </div>
                 
                        <div class="col-12">
                            <button pButton pRipple label="Create" type="submit" class="w-auto mt-3" [disabled]="sportFieldForm.invalid"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
