<div class="form-container">
  <div class="header">
    <button class="back-button" (click)="goBack()">
      <span class="icon">🔙</span>
    </button>
    <h2>Mettre à jour un utilisateur</h2>
  </div>

  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nom :</label>
      <input type="text" id="name" class="form-control" formControlName="name" placeholder="Entrez le nom d'utilisateur" />
    </div>

    <div class="form-group">
      <label for="email">Email :</label>
      <input type="email" id="email" class="form-control" formControlName="email" placeholder="Entrez le email" />
    </div>

    <div class="form-group">
      <label for="city">Ville :</label>
      <input type="text" id="city" class="form-control" formControlName="city" placeholder="Entrez la ville" />
    </div>

    <div class="form-group">
      <label for="userRole">Rôle de l'utilisateur :</label>
      <select id="userRole" formControlName="role" class="form-control">
        <option value="USER">Utilisateur</option>
        <option value="ADMIN">Administrateur</option>
        <option value="COOPERATIVE">Coopérative</option>
      </select>
    </div>

    <div class="form-group form-check mb-3">
      <input type="checkbox" id="profileCompleted" class="form-check-input" formControlName="profileCompleted" />
      <label class="form-check-label" for="profileCompleted">Profil complété</label>
    </div>

    <button type="submit" class="btn btn-primary">Mettre à jour</button>
  </form>
</div>