<div class="col-10 mx-auto">
    <div class="card">
        <span class="text-900 text-xl font-bold mb-4 block">Update Coach</span>
        <form [formGroup]="coachForm" (ngSubmit)="updateCoach()">
            <div class="grid">
                <div class="col-12 lg:col-0">

                </div>
                <div class="col-12 lg:col-12">
                    <div class="grid formgrid p-fluid">
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="firstName" class="font-medium text-900">First Name</label>
                            <input id="firstName" type="text" pInputText formControlName="firstName">
                            <small class="ng-dirty ng-invalid" *ngIf="coachForm.get('firstName')!.hasError('required') && (coachForm.get('firstName')!.dirty || coachForm.get('firstName')!.touched)">First Name is required.</small>
                        </div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="lastName" class="font-medium text-900">Last Name</label>
                            <input id="lastName" type="text" pInputText formControlName="lastName">
                            <small class="ng-dirty ng-invalid" *ngIf="coachForm.get('lastName')!.hasError('lastName') && (coachForm.get('lastName')!.dirty || coachForm.get('lastName')!.touched)">Last Name is required.</small>
                        </div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="email" class="font-medium text-900">Email</label>
                            <input id="email" type="email" pInputText formControlName="email">
                            <small class="ng-dirty ng-invalid" *ngIf="coachForm.get('email')!.hasError('required') && (coachForm.get('email')!.dirty || coachForm.get('email')!.touched)">Email is required.</small>
                        </div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="cin" class="font-medium text-900">CIN</label>
                            <input id="cin" type="text" pInputText formControlName="cin">
                            <small class="ng-dirty ng-invalid" *ngIf="coachForm.get('cin')!.hasError('cin') && (coachForm.get('cin')!.dirty || coachForm.get('cin')!.touched)">CIN is required.</small>
                        </div>


                        <div class="col-12">
                            <button pButton pRipple label="Update" type="submit" class="w-auto mt-3" [disabled]="coachForm.invalid"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
