<div class="card">
  <p-tabView orientation="left">
      <p-tabPanel header="Details" class="line-height-3 m-0">
          <p-progressBar *ngIf="sportField === undefined || sportField === null" mode="indeterminate" [style]="{ height: '6px' }"  />
          <div *ngIf="sportField != undefined"> <span class="text-900 font-medium text-4xl mb-4 "></span><span class="text-primary font-medium text-4xl mb-4 "> Informations</span></div>
          <hr/>

          <br/>
          <div class="grid formgrid p-fluid" *ngIf="sportField != undefined">
              <div class="field mb-4 col-12 md:col-6">
                  <label for="sportFieldCode" class="font-bold text-9OO" style="font-size: 18px;">Code: </label><span id="sportFieldCode" style="font-size: 18px;">  {{sportField.code}}</span>
              </div>
              <div class="field mb-4 col-12 md:col-6">
                  <label for="cin" class="font-bold text-9OO" style="font-size: 18px;">Status: </label><span id="cin"  style="font-size: 18px;"> {{sportField.status}}</span>
              </div>
              <div class="field mb-4 col-12 md:col-6">
                  <label for="firstName" class="font-bold text-9OO" style="font-size: 18px;">Area Size: </label><span id="firstName" style="font-size: 18px;"> {{sportField.areaSize}}</span>
              </div>
              <div class="field mb-4 col-12 md:col-6">
                  <label for="lastName" class="font-bold text-9OO" style="font-size: 18px;">Description: </label><span id="lastName" style="font-size: 18px;"> {{sportField.description}}</span>
              </div>
          </div>
      </p-tabPanel>

  </p-tabView>
</div>
